@{
    ViewData["Title"] = "Результат прогноза";
}

<h2>Введенные данные:</h2>
<ul>
    <li>Средняя температура: @ViewBag.AverageTemperature</li>
    <li>Цена: @ViewBag.Price</li>
    <li>Цена конкурентов: @ViewBag.CompetitorPrice</li>
    <li>Скидка: @ViewBag.Discount</li>
</ul>

<p>На следующем шаге мы сможем использовать эти данные для прогноза!</p>
