@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="container text-center mt-5">
    <div class="p-5 rounded shadow-lg" style="background-color: #ffffff;">
        <h1 class="display-4 fw-bold text-dark">Добро пожаловать</h1>
        <h2 class="fs-3 fw-light text-muted mt-2">в интеллектуальную систему прогнозирования спроса выпускаемой продукции</h2>

        <hr class="my-4" style="border-color: #ddd;">
        <p class="fs-6 text-secondary">
            Начните с выбора необходимого раздела в меню.
        </p>
    </div>
</div>
